# Python
__pycache__/
*.pyc
.venv/
*.db
.coverage
.pytest_cache/

# Frontend
node_modules/
dist/

# Env
.env

# OS
.DS_Store
Thumbs.db

# Uploads
uploads/*
!uploads/.gitkeep
backend/uploads/*
!backend/uploads/.gitkeep
